<div *ngIf="!showSummary" class="form">
  <h1>Impftermin
    <span *ngIf="!isUpdatingVaccination">erstellen</span>
    <span *ngIf="isUpdatingVaccination">bearbeiten</span>
  </h1>
  <form class="form-form" [formGroup]="vaccinationForm"
        (ngSubmit)="nextStep()">
    <input type="hidden" name="id">

    <div class="form-field" [class.disabled]="isUpdatingVaccination">
      <label>Impfterminnummer:</label>
      <input type="number" formControlName="vaccination_nr" class="input-vaccination_nr">
      <div *ngIf="errors.vaccination_nr" class="form-negative_message"> {{ errors.vaccination_nr }} </div>
    </div>

    <div class="form-field">
      <label>Datum des Impftermins:</label>
      <input type="date" formControlName="date" class="input-date">
      <div *ngIf="errors.date" class="form-negative_message">{{ errors.date }}</div>
    </div>

    <div class="form-field">
      <label>Startzeitpunkt des Impftermins:</label>
      <input formControlName="starttime" class="input-starttime">
      <div *ngIf="errors.starttime" class="form-negative_message">{{ errors.starttime }}</div>
    </div>

    <div class="form-field">
      <label>Endzeitpunkt des Impftermins:</label>
      <input formControlName="endtime" class="input-endtime">
      <div *ngIf="errors.endtime" class="form-negative_message">{{ errors.endtime }}</div>
    </div>

    <div class="form-field">
      <label>maximale Anzahl an Teilnehmer*innen:</label>
      <input type="number" formControlName="max_participants" class="input_max">
      <div *ngIf="errors.max_participants" class="form-negative_message">{{ errors.max_participants }}</div>
    </div>

    <div class="form-field">
      <label>Impfstoff:</label>
      <input formControlName="vaccination_type" class="input-type">
      <div *ngIf="errors.vaccination_type" class="form-negative_message">{{ errors.vaccination_type }}</div>
    </div>

    <div class="form-field">
      <label>Impfort:</label>
      <select formControlName="vaccination_place" class="select-place">
        <option *ngFor="let vaccination_place of vaccinationPlaces" [value]="vaccination_place.vaccination_place_nr"
                [selected]="vaccination_place.vaccination_place_nr == vaccination.vaccination_place.vaccination_place_nr">
          {{ vaccination_place.vaccination_place_nr }}, {{ vaccination_place.state}}, {{ vaccination_place.city }},
          {{ vaccination_place.street }} {{ vaccination_place.streetnr }}
        </option>
      </select>
      <div *ngIf="errors.vaccination_place" class="form-negative_message">{{ errors.vaccination_place }}</div>
    </div>
    <div class="form-buttons">
      <a class="form-back_button" (click)="backToPage()" *ngIf="isUpdatingVaccination"><< Zurück</a>
      <button type="submit" class="form-submit_button" [disabled]="vaccinationForm.invalid">Weiter</button>
    </div>
  </form>
</div>

<div *ngIf="showSummary" class="summary">
  <h1>Zusammenfassung des
    <span *ngIf="isUpdatingVaccination"> bearbeiteten </span>
    <span *ngIf="!isUpdatingVaccination"> neu erstellten </span>
    Impftermins
  </h1>
  <div class="summary-container">
    <table class="summary-table">
      <tr>
        <td>Impfnummer:</td>
        <td>{{vaccinationForm.value.vaccination_nr}}</td>
      </tr>
      <tr>
        <td>Impfdatum:</td>
        <td>{{vaccinationForm.value.date}}</td>
      </tr>
      <tr>
        <td>Startzeitpunkt des Impftermins:</td>
        <td>{{vaccinationForm.value.starttime}}</td>
      </tr>
      <tr>
        <td>Endzeitpunkt des Impftermins:</td>
        <td>{{vaccinationForm.value.endtime}}</td>
      </tr>
      <tr>
        <td>maximale Anzahl an Teilnehmer*innen:</td>
        <td>{{vaccinationForm.value.max_participants}}</td>
      </tr>
      <tr>
        <td>Impfstoff:</td>
        <td>{{vaccinationForm.value.vaccination_type}}</td>
      </tr>
      <tr *ngFor="let place of vaccinationPlaces" id="summary-vacc_place">
        <td *ngIf="place.vaccination_place_nr == vaccinationForm.value.vaccination_place">Impfort:</td>
        <td *ngIf="place.vaccination_place_nr == vaccinationForm.value.vaccination_place">
          {{ place.vaccination_place_nr }}, {{ place.state }}, {{ place.city }},
          {{ place.street }} {{ place.streetnr }}
        </td>
      </tr>
    </table>
  </div>
  <div class="summary-buttons">
    <a class="summary-back_btn" (click)="back()"><< Zurück</a>
    <button class="summary-save_btn" (click)="submitVaccination()">Speichern</button>
  </div>

</div>


