.form-form {
  max-width: 900px;
  margin-left: 0;
}

.form h1, .summary h1 {
  text-align: center;
  margin-bottom: 30px;
}

h1 span {
  color: #DB3B18;
}

.form-field {
  margin-bottom: 25px;
}

.form-negative_message {
  color: #e02b27;
  font-size: 12px;
  margin-left: 50%;
  margin-top: 10px;
}

.form label {
  float: left;
  justify-content: flex-end;
  padding-right: 25px;
  width: 50%;
  height: 34px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.form input, .form select {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-size: 14px;
  height: 32px;
  line-height: 2.5rem;
  padding: 0 9px;
  vertical-align: baseline;
}

.input-vaccination_nr, .input-date {
  width: 140px;
}

.input-starttime, .input-endtime, .input_max {
  width: 90px;
}

.input-type, .select-place {
  width: 40%;
}

.form-submit_button {
  margin-left: 50%;
}

.form-submit_button:disabled {
  opacity: 40%;
}

.summary-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.summary-table td {
  padding: 10px;
}

.summary-table tr:nth-child(odd), #summary-vacc_place {
  background-color: #ffdddd;
}

.summary-table tr:nth-child(even){
  background-color: #F5A9A3;
}

.summary-buttons {
  margin-top: 30px;
  text-align: center;
}

.summary-back_btn {
  margin-right: 10px;
}

.summary-save_btn {
  margin-left: 10px;
}

@media (max-width: 767.98px) {
  .form-field {
    margin-bottom: 10px;
  }
  .form label {
    width: 100%;
    justify-content: flex-start;
  }

  .input-type, .select-place {
    width: 100%;
  }

  .form-submit_button {
    margin-left: 0;
  }

  .form-negative_message {
    margin-left: 0;
  }
}
