<script src="login.component.ts"></script>
<div *ngIf="!isLoggedIn()" class="login">
  <div class="login-container">
    <h1 class="login-headline">Login</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">

      <div *ngIf="error" class="login-error_message">{{ error }}</div>
      <div class="login-email">
        <label class="login-email_label">E-Mail</label>
        <input type="email" id="username" formControlName="username" class="login-email_input">
        <div *ngIf="loginForm.get('username').invalid &&
                  (loginForm.get('username').dirty ||
                  loginForm.get('username').touched) &&
                  loginForm.get('username').hasError('required')" class="login-email_message">
          Dies ist ein Pflichtfeld.
        </div>
        <div *ngIf="loginForm.get('username').invalid &&
                  (loginForm.get('username').dirty ||
                  loginForm.get('username').touched) &&
                  loginForm.get('username').hasError('email')" class="login-email_message">
          Bitte geben Sie eine gültige E-Mail-Adresse ein (z.B. max@domain.com).
        </div>
      </div>

      <div class="login-password">
        <label class="login-password_label">Passwort</label>
        <input type="password" formControlName="password" class="login-password_input">
        <div *ngIf="loginForm.get('password').invalid &&
                  (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)" class="login-password_message">
          Dies ist ein Pflichtfeld.
        </div>
      </div>
      <div class="login-btn-container">
        <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
</div>


<div *ngIf="isLoggedIn()" class="logout">
  <h1 class="logout-headline">Account</h1>
  <div class="logout-container" *ngIf="checkUser()">
    <div class="logout-account">
      <h3 class="logout-account_headline">Accountinformationen: </h3>

      <div class="logout-user_infos">
        <h4>Benutzerinformationen: </h4>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.gender }}</p>
        <p>Geb.: {{ user.birthdate }}</p>
        <p>E-Mail: {{ user.email }}</p>
        <p>Tel.: {{ user.phonenumber }}</p>
      </div>

      <div class="logout-user_address">
        <h4>Anschrift:</h4>
        <p>{{ user.street}} {{ user.streetnr }}</p>
        <p>{{ user.postcode }}, {{ user.city }}</p>
      </div>
    </div>

    <div class="logout-status">
      <h3 class="logout-status_label">Status:</h3>
      <p class="logout-status_vaccinated" *ngIf="!user.vaccinated && (user.user_vaccinations.length === 0)">Nicht geimpft</p>
      <p class="logout-status_registered" *ngIf="!user.vaccinated && (user.user_vaccinations.length > 0)">Registriert</p>
      <p class="logout-status_not_vaccinated" *ngIf="user.vaccinated">Geimpft</p>
    </div>

    <div class="logout-vaccination" *ngIf="!user.vaccinated && (user.user_vaccinations.length > 0)">
      <h3>Impftermin:</h3>
      <p>Impfung: #{{ user.user_vaccinations[0].vaccination_nr }}</p>
      <p>Impfstoff: {{ user.user_vaccinations[0].vaccination_type }}</p>
      <p>Wann: Zwischen {{ user.user_vaccinations[0].starttime }} und {{ user.user_vaccinations[0].endtime }}</p>
      <p *ngFor="let place of vaccinationPlaces">
        <span *ngIf="place.vaccination_place_nr == user.user_vaccinations[0].vaccination_place">
          Wo: {{ place.state }}, {{ place.city }}, {{ place.postcode }},
          {{ place.street }} {{ place.streetnr }}
        </span>
      </p>
      <p>
      </p>
    </div>

    <button type="button" class="logout-button" (click)="logout()">Logout</button>
  </div>
</div>
