.login-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.login-headline, .logout-headline {
  color: #DB3B18;
  text-align: center;
}

.login-error_message {
  padding: 10px 15px;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  margin-bottom: 25px;
  font-size: 14px;
}

.login-form {
  margin-top: 40px;
}

.login-email {
  margin-bottom: 30px;
  min-height: 30px;
}

.login-email_label, .login-password_label {
  float: left;
  text-align: left;
  width: 20%;
  height: 34px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.login-email_input, .login-password_input {
  width: 75%;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-size: 14px;
  height: 32px;
  line-height: 2.5rem;
  padding: 0 9px;
  vertical-align: baseline;
}

.login-email_message, .login-password_message {
  color: #e02b27;
  font-size: 12px;
  margin-left: 20%;
  margin-top: 10px;
}

.login-btn-container {
  display: flex;
  justify-content: flex-end;
}

.login-button {
  margin-top: 20px;
  margin-right: 5%;
}

.login-button:disabled {
  opacity: 0.4;
}

.logout-account {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f1eb;
}

.logout-account_headline {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.logout-user_infos, .logout-user_address {
  flex: 0 0 33%;
  max-width: 33%;
}

.logout-user_infos p, .logout-user_address p {
  margin-top: 5px;
}

.logout-status {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.logout-status_label {
  margin-right: 20px;
}

.logout-status_vaccinated {
  color: #DB3B18;
  padding: 10px;
  border: 1px solid #DB3B18;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: rgb(219, 59, 24, 0.1);
  font-weight: bold;
}

.logout-status_not_vaccinated {
  color: #66CC00;
  padding: 10px;
  border: 1px solid #66CC00;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: rgb(102, 204, 0, 0.1);
  font-weight: bold;
}

.logout-status_registered {
  color: #e5b74c;
  padding: 10px;
  border: 1px solid #e5b74c;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: rgb(229, 183, 76, 0.15);
  font-weight: bold;
}

.logout-vaccination {
  margin-top: 25px;
}

.logout-vaccination p {
  margin-top: 5px;
}

.logout-button {
  margin-top: 40px;
}

@media (max-width: 991.98px) {
  .logout-user_infos, .logout-user_address {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 575.98px) {
  .login-email_label, .login-password_label,
  .login-email_input, .login-password_input {
    width: 100%;
  }

  .login-email_message, .login-password_message {
    margin-left: 0;
  }

  .logout-user_infos, .logout-user_address {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .logout-user_address {
    margin-top: 20px;
  }
}
