<div class="header">
  <img class="logo" src="assets/images/logo.png" alt="Logo"/>
  <div class="headline-container">
    <h1 class="headline">Impfanmeldungsplattform</h1>
  </div>
</div>
<div class="navigation">
  <div class="nav-links">
    <a routerLink="home" routerLinkActive="active" class="link">Home</a>
    <a routerLink="vaccinations" routerLinkActive="active" class="link">Impftermine</a>
    <a *ngIf="isLoggedIn() " routerLink="admin" routerLinkActive="active" class="link">Impftermin erstellen</a>
    <a routerLink="login" routerLinkActive="active" class="link">{{ getLoginLabel() }}</a>
  </div>
</div>
<router-outlet></router-outlet>
