<div class="content">
  <div class="header">Impfung #{{ vacc.vaccination_nr }}</div>
  <div class="description"> {{ vacc.vaccination_type }} </div>
  <div class="place">
    <span>{{ vacc.vaccination_place.city}}</span>
    <span>{{ vacc.vaccination_place.street}}</span>
    <span>{{ vacc.vaccination_place.streetnr}}</span>
    <span>{{ vacc.vaccination_place.postcode}}</span>
    <span>{{ vacc.vaccination_place.state}}</span>
    <span>{{ vacc.vaccination_place.description}}</span>

  </div>
</div>
