<div class="details" *ngIf="vaccination">
  <div class="details-header">
    <h1>Impfung #{{ vaccination.vaccination_nr }}</h1>
    <a class="details-register" *ngIf="authService.isLoggedIn() && checkUser() && (user.user_vaccinations.length == 0) && checkFreePlaces()"
       (click)="addToVaccination(user)">Zur Impfung anmelden</a>
  </div>
  <div class="details-infos">
    <h3>Allgemein:</h3>
    <p><span>Impfstoff: </span>{{ vaccination.vaccination_type }}</p>
    <p><span>Maximale Anzahl an Teilnehmer*innen: </span>{{ vaccination.max_participants }}</p>
    <p><span>Noch verfügbare Plätze: </span>
      <span class="details-infos_participants" *ngIf="checkFreePlaces()"> {{ freePlaces() }}</span>
      <span class="details-infos_no_more_participants" *ngIf="!checkFreePlaces()">Keine</span>
    </p>
  </div>

  <div class="details-where_when">
    <div class="details-when">
      <h3>Wann:</h3>
      <p><span>Datum: </span>{{ vaccination.date }}</p>
      <p><span>Start: </span>{{ vaccination.starttime }}</p>
      <p><span>Ende: </span>{{ vaccination.endtime }}</p>
    </div>

    <div class="details-where">
      <h3>Wo:</h3>
      <p>{{ vaccination.vaccination_place.street}} {{ vaccination.vaccination_place.streetnr}}</p>
      <p>{{ vaccination.vaccination_place.postcode}}, {{ vaccination.vaccination_place.city}}</p>
      <p>{{ vaccination.vaccination_place.state}}</p>
      <div *ngIf="vaccination.vaccination_place.description" class="details-where_description">
        <p>Beschreibung:</p>
        <p>{{ vaccination.vaccination_place.description }}</p>
      </div>
    </div>
  </div>

  <div class="details-users" *ngIf="authService.isLoggedIn() && checkUser() && user.admin">
    <h3>Angemeldete Personen:</h3>
    <p *ngIf="vaccination.vaccination_users.length === 0">Es haben sich noch keine Personen zu diesem Impftermin angemeldet!</p>
    <div class="details-all_users">
      <div *ngFor="let user of vaccination.vaccination_users" class="details-users_user">
        <p class="details-user_name">{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.gender }}</p>
        <p>Geb.: {{ user.birthdate }}</p>
        <p>SVNR: {{ user.sv_number }}</p>
        <p>E-Mail: {{ user.email }}</p>
        <p>Tel.: {{ user.phonenumber }}</p>
        <p *ngIf="user.vaccinated" class="details-user_vaccinated">Geimpft</p>
        <p *ngIf="!user.vaccinated" class="details-user_not_vaccinated">Nicht geimpft</p>
        <button *ngIf="!user.vaccinated" (click)="editToVaccinated(user)" class="details-user_is_vaccinated">Impfung durchgeführt</button>
      </div>
    </div>

  </div>

  <div class="details-buttons">
    <div class="details-edit_buttons" *ngIf="authService.isLoggedIn() && checkUser() && user.admin">
      <a class="edit-button" [routerLink]="['../../admin', vaccination?.vaccination_nr]">
        <span>Impftermin bearbeiten</span>
      </a>
      <button class="delete-button" (click)="removeBook()">
        <span>Impftermin löschen</span>
      </button>
    </div>

    <div class="details-info_registration" *ngIf="!authService.isLoggedIn()">
      <p>Wenn Sie sich für diesen Impftermin anmelden möchten, müssen Sie sich zuerst anmelden.</p>
      <button [routerLink]="'/login'" class="details-to_login_button">>> Zum Login</button>
    </div>

    <button [routerLink]="'/vaccinations'" class="details-back_button">Zurück zu allen Impfterminen</button>
  </div>
</div>
