* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Open Sans";
  color: #363637;
}

body {
  margin: 0;
}

.header, .nav-links, .home, .list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}
