<div class="home">
  <h1 class="home-headline">Willkommen auf der Impfanmeldungsplattform!</h1>
  <div class="home-text">
    <h4 class="home-small_headline">Wir freuen uns, dass Sie sich für unsere Seite entschieden haben und über die Möglichkeit denken,
      sich für einen Impftermin anzumelden!</h4>
    <p class="home-more_infos">Folgende Informationen können Sie aus unserer Webseite rauslesen:</p>
    <p class="home-more_infos">Auf der Impfanmeldungsplattform können Sie alle verfügbaren Impftermine sehen.
    Bei diesen wird angegeben, wann der Impftermin stattfinden, also zu welcher Uhrzeit
    und zwischen welchen Uhrzeiten, und wie viele Anmeldungen bei diesem Impftermin noch möglich sind.
    Des Weiteren wird auch angezeigt, welche Impfstoff an diesem Impftermin verimpft wird.
    Ein ganz wichtige Information ist natürlich der Impfort. Der wird beim jeweiligen Impftermin angegeben.
    Dort können Sie den Bundesstaat, die Postleizahl, die Stadt, die Straße und die Straßennummer ablesen.
    Falls es noch weitere Informationen über den Impfort gibt, können Sie diese auf der Detailseite des
    jeweiligen Impftermins lesen.</p>
    <p class="home-info">Wenn Sie sich dazu entscheiden, sich für einen Impftermin anzumelden, dann melden Sie sich bitte
    vorher an. Dadurch können wir nachverfolgen, wer wo wann eine Impfung bekommt.</p>
    <p class="home-last_sentence">Wir freuen uns auf Sie!</p>
    <p class="home-team">Ihr Impfteam</p>
  </div>
</div>
